<h3># 1</h3>
<ul>
  <li>1. Жим ногами</li>
  <li>2. Разгибатель ногами</li>
  <li>3. Сгибатель ногами</li>
  <li>4. Махи сидя (руки выкручивать внутрь, мизинец выше большого пальца)</li>
  <li>5. Протяжка с упором спины</li>
  <li>6. Подъём ног на скамье</li>
  <li>7. Гиперэкстезия</li>
  <li>8. Скручивание у верхнего блока (цепи к вискам и скручиваться)</li>
</ul>

<h3># 2</h3>
<ul>
  <li>1. Жим лёжа горизонт (широкий хват)</li>
  <li>2. Жим под углом (к ключице, машина Смита)</li>
  <li>3. Разводка лёжа горизонт</li>
  <li>4. Подъём штанги на бицепс (узкий хват с упором спины)</li>
  <li>5. Подъём гантелей сидя (упор спиной с наклоном)</li>
  <li>6. Подъём ног на скамье</li>
  <li>7. Гиперэкстезия</li>
  <li>8. Верхняя тяга вбок в рамке (если вправо, то правой рукой, левая нога опорная, правая присогнута)</li>
</ul>

<h3># 3</h3>
<ul>
  <li>1. Гроветрон (широкий хват)</li>
  <li>2. Тяга блока за голову</li>
  <li>3. тяга блока к животу</li>
  <li>4. Жим лёжа (узкий хват, опускаем на солнечное сплетение, поднимаем за счёт трицепса)</li>
  <li>5. Жим блока книзу</li>
  <li>6. Подъём ног на скамье</li>
  <li>7. Гиперэкстезия</li>
  <li>8. Подъём ног в висе (бёдра выше уровня пояса, вверху ещё больше напрячь пресс)</li>
</ul>